@font-face {
  font-family: "sfpro";
  src: url(assets/font/SFProFont/SF-Pro-Text-Regular.otf);
}

@font-face {
  font-family: "sfpro-bold";
  src: url(assets/font/SFProFont/SF-Pro-Text-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  font-family: sfpro !important;
}

a {
  text-decoration: none !important;
}

@media only screen and (max-width: 767px) {

  /* NAV START */
  #navigation .container .section-left {
    display: none
  }

  #navigation .container .section-right {
    display: none !important;
  }

  #navigation .container .section-right .btn-main-contact {
    display: none !important;
  }

  #navigation .container .section-mid {
    margin-left: 40px;
  }

  /* NAV END */


  #home .container .top-title {
    font-size: 1.5rem !important
  }

  #home .container .desc-top-title {
    font-size: 0.8rem !important
  }

  /* #home .container .btn {
    font-size: 0.5rem !important
  } */

  #home .container .hero-banner {
    display: none
  }

  #home .row .radial-group {
    display: none
  }

  #faq .container .row .faq-img {
    display: none;
  }

  #faq .container .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #services .section-bot {
    flex-wrap: wrap !important;
    flex-direction: column !important;
  }

  #getnow .flex-con {
    flex-wrap: wrap !important;
    flex-direction: column !important;
  }

  #getnow .fs-5 {
    font-size: 1rem !important;
  }
}

/* NAV START */
#navigation .container {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #fff !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.section-left {
  flex: 1;
}

.section-left img {
  width: 30%;
}

.section-mid ul {
  list-style: none;
  margin: 0;
  flex: 2;
}

.active-li {
  color: #000;
}

#navigation .inactive-li:hover {
  color: #000;
}

.inactive-li {
  color: grey;
}

.section-right {
  flex: 1
}

/* ELEMENTS */
.btn-login {
  border-color: #84C642 !important;
  color: #84C642 !important;
  border-radius: 0.5rem !important;
}

.btn-login:hover {
  background-color: #84C642 !important;
  color: #fff !important;
}


.btn-contactus {
  background-color: #84C642 !important;
  border-color: #84C642 !important;
  border-radius: 0.5rem !important;
}

.btn-contactus:active {
  background-color: #669933 !important;
  border-color: #669933 !important;
  border-radius: 0.5rem !important;
}

.btn-continue {
  background-color: #84C642 !important;
  border-color: #84C642 !important;
  border-radius: 2rem !important;
}

.btn-continue:active {
  background-color: #669933 !important;
  border-color: #669933 !important;
  border-radius: 2rem !important;
}

@media (max-width: 576px) {
  #navigation .btn-contactus {
    display: none;
  }
}

/* NAV END */

/* HOME START */
#home .container {
  margin-top: 40px;
}

#home .container h1 {
  font-family: sfpro-bold;
}

#home .container h1 span {
  font-family: sfpro;
  font-weight: 600;
}

#home .top-title {
  font-size: 3rem;
  font-weight: 700;
}

#home .span-title {
  font-weight: 500;
}

.home-options p {
  max-width: 20%;
  font-size: 1.2rem;
}

.hero-banner {
  height: 550px;
  background-image: linear-gradient(120deg, #fcfcfc, #d9d9d9);
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 66px -24px rgba(132, 198, 66, 1);
  -moz-box-shadow: 0px 0px 66px -24px rgba(132, 198, 66, 1);
  box-shadow: 0px 0px 66px -24px rgba(132, 198, 66, 1);
}

.hero-banner img {
  height: 550px;
  border-radius: 30px;
  padding: 0;
  object-fit: cover;
  object-position: 100% 1%;
}

.radial {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-left: -24px;

  &.satu {
    background-color: hsl(108, 49%, 60%);
  }

  &.dua {
    background-color: #a867c6;
  }

  &.tiga {
    background-color: #c1c667;
    position: relative;
  }
}

.radial img {
  height: 100%;
}

.radial.satu {
  background-color: hsl(108, 49%, 60%);
}

.radial.dua {
  background-color: #a867c6;
}

.radial.tiga {
  background-color: #c1c667;
}

.line {
  height: 2px;
  width: 100%;
  background-color: #fff;
}

@media (max-width: 576px) {
  #home .container {
    flex-direction: column !important;
  }

  #home .col-6 {
    width: 100% !important;
  }

  #home .col-4 {
    width: 100% !important;
    text-align: center;
  }

  #home .col-4 .d-flex {
    flex-direction: column !important;
    justify-content: center !important;
  }



  #home .top-title {
    text-align: center;
  }

  #home .container .hero {
    display: none;
  }

  #home .container .ps-4 {
    padding: 0 !important;
  }
}



/* FAQ START*/
#faq .container-fluid {
  background-color: #84C642;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 75px;
}

.faq-img {
  background-color: #ddd;
  border-radius: 30px;
  height: 575px;
  -webkit-box-shadow: -38px 23px 66px -17px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -38px 23px 66px -17px rgba(0, 0, 0, 0.15);
  box-shadow: -38px 23px 66px -17px rgba(0, 0, 0, 0.15);
}

.faq-img img {
  height: 575px;
  width: 100%;
  border-radius: 30px;
  padding: 0;
  object-fit: fill;
}

.faq-content {
  color: #fff;
}

.faq-content p,
.faq-content h5 {
  font-weight: 100;
  font-family: sfpro;
  color: rgba(255, 255, 255, 0.6);
}

.faq-content p.active,
.faq-content h5.active {
  font-weight: 100;
  font-family: sfpro;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 576px) {

  #faq .faq-img,
  #faq .separate {
    display: none;
  }

  .faq-content {
    text-align: center;
  }
}

/* FAQ END */

/* SERVICES START */

#services .container {
  margin-bottom: 75px;
}

#services .svg-container {
  height: 0.5rem;
  width: 1rem;
}

#services .section-left {
  border: #e7e7e7 2px solid;
  border-radius: 20px;
  background-image: linear-gradient(180deg, #fdfdfd, #ececec);
}

#services .bi {
  font-size: 28px;
  color: #848484;

  &.icon {
    font-size: 32px;
    color: #84C642;
  }
}

#services .section-left .searchbar {
  border: #e7e7e7 1px solid;
  border-radius: 20px;
  background-color: #fff;

  &.searchbar-result {
    border-radius: 20px 20px 0px 0px;
    border-bottom: 0px;
  }
}

#services .result {
  border: #e7e7e7 2px solid;
  border-radius: 10px;
  background-color: #fff;
}

#services .section-right {
  border: #e7e7e7 2px solid;
  border-radius: 20px;
  background-image: linear-gradient(180deg, #fdfdfd, #ececec);

}

#services .section-right .content-img img {
  width: 100%;
  height: auto;
  border-radius: 0 0 20px 20px;
  object-fit: cover;
  position: relative;
}

#services .section-bot {
  border: #e7e7e7 2px solid;
  border-radius: 20px;
  background-image: linear-gradient(180deg, #fdfdfd, #ececec);
}

#services .section-bot img {
  border-radius: 20px;
  width: 100%;
}

#services .searchbar-result .result img {
  max-width: 23%;
}


/* SERVICES END */

/* REVIEWS START */
#reviews .container-fluid {
  margin-bottom: 75px;
}

#reviews .swiper-wrapper {
  height: 750px;
}

#reviews .cards {
  border: #b4b4b4 1px solid;
  border-radius: 20px;
}


#reviews .cards {
  max-width: 300px;
  height: 350px !important;
  transition: 0.25s ease-in-out;
}

#reviews .cards:hover {
  border-color: #84C642;
  transform: scale(102%);
  transform: translateY(10px)
}

#reviews .cards img {
  max-width: 64px;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* REVIEWS END */

/* GETNOW START */

#getnow .container {
  border: #e7e7e7 2px solid;
  border-radius: 20px;
}

#getnow .mobile-img img {
  cursor: pointer;
  width: 50%;
}

/* GETNOW END */

/* FOOTER START */

#footer .footer-logo img {
  cursor: pointer;
  width: 30%;
}

#footer .subtext-grey:hover {
  cursor: pointer;
  color: #000;
}

#footer .footer-icon i {
  cursor: pointer;
  font-size: 1.3rem;
}

@media (max-width: 576px) {
  #footer .d-flex {
    flex-direction: column !important;
  }

  #footer {
    display: none !important;
  }
}

/* FOOTER END */








/* CLASSES */
.subtext-grey {
  color: #97999a;
}