@font-face {
  font-family: "sfpro";
  src: url(assets/font/SFProFont/SF-Pro-Text-Regular.otf);
}

@font-face {
  font-family: "sfpro-bold";
  src: url(assets/font/SFProFont/SF-Pro-Text-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  font-family: sfpro !important;
}

a {
  text-decoration: none !important;
}

/* NAV START */
#navigation .container {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #fff !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.section-left {
  flex: 1;
}

.section-left img {
  width: 30%;
}

.section-mid ul {
  list-style: none;
  margin: 0;
  flex: 2;
}

.active-li {
  color: #000;
}

#navigation .inactive-li:hover {
  color: #000;
}

.inactive-li {
  color: grey;
}

.section-right {
  flex: 1
}

/* ELEMENTS */
.btn-login {
  border-color: #84C642 !important;
  color: #84C642 !important;
  border-radius: 0.5rem !important;
}

.btn-login:hover {
  background-color: #84C642 !important;
  color: #fff !important;
}


.btn-contactus {
  background-color: #84C642 !important;
  border-color: #84C642 !important;
  border-radius: 0.5rem !important;
}

.btn-contactus:active {
  background-color: #669933 !important;
  border-color: #669933 !important;
  border-radius: 0.5rem !important;
}

.btn-continue {
  background-color: #84C642 !important;
  border-color: #84C642 !important;
  border-radius: 2rem !important;
}

.btn-continue:active {
  background-color: #669933 !important;
  border-color: #669933 !important;
  border-radius: 2rem !important;
}

/* NAV END */

/* HOME START */
#home .container {
  margin-top: 40px;
}

#home .container h1 {
  font-family: sfpro-bold;
}

#home .container h1 span {
  font-family: sfpro;
  font-weight: 600;
}

#home .top-title {
  font-size: 3rem;
  font-weight: 700;
}

#home .span-title {
  font-weight: 500;
}

.home-options p {
  max-width: 20%;
  font-size: 1.2rem;
}

#home .container.hero {}

.hero-banner {
  height: 550px;
  background-image: linear-gradient(120deg, #fcfcfc, #d9d9d9);
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 66px -24px rgba(132, 198, 66, 1);
  -moz-box-shadow: 0px 0px 66px -24px rgba(132, 198, 66, 1);
  box-shadow: 0px 0px 66px -24px rgba(132, 198, 66, 1);
}

.radial {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-left: -24px;

  &.satu {
    background-color: hsl(108, 49%, 60%);
  }

  &.dua {
    background-color: #a867c6;
  }

  &.tiga {
    background-color: #c1c667;
    position: relative;
  }
}

.radial.satu {
  background-color: hsl(108, 49%, 60%);
}

.radial.dua {
  background-color: #a867c6;
}

.radial.tiga {
  background-color: #c1c667;
}

.line {
  height: 2px;
  width: 100%;
  background-color: #fff;
}




/* FAQ START*/
#faq .container-fluid {
  background-color: #84C642;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 75px;
}

.faq-img {
  background-color: #ddd;
  border-radius: 30px;
  height: 575px;
  -webkit-box-shadow: -38px 23px 66px -17px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -38px 23px 66px -17px rgba(0, 0, 0, 0.15);
  box-shadow: -38px 23px 66px -17px rgba(0, 0, 0, 0.15);
}

.faq-content {
  color: #fff;
}

.faq-content p,
.faq-content h5 {
  font-weight: 100;
  font-family: sfpro;
  color: rgba(255, 255, 255, 0.6);
}

.faq-content p.active,
.faq-content h5.active {
  font-weight: 100;
  font-family: sfpro;
  color: rgba(255, 255, 255, 1);
}

/* FAQ END */

/* SERVICES START */
#services .header h1 {
  font-size: 3.25rem;
}


#services .container {
  margin-bottom: 75px;
}

#services .svg-container {
  height: 0.5rem;
  width: 1rem;
}

#services .section-left {
  border: #e7e7e7 2px solid;
  border-radius: 20px;
  background-image: linear-gradient(180deg, #fdfdfd, #ececec);
}

#services .bi {
  font-size: 28px;
  color: #848484;

  &.icon {
    font-size: 32px;
    color: #84C642;
  }
}

#services .section-left .searchbar {
  border: #e7e7e7 1px solid;
  border-radius: 20px;
  background-color: #fff;

  &.searchbar-result {
    border-radius: 20px 20px 0px 0px;
    border-bottom: 0px;
  }
}

#services .result {
  border: #e7e7e7 2px solid;
  border-radius: 10px;
  background-color: #fff;
}

#services .section-right {
  border: #e7e7e7 2px solid;
  border-radius: 20px;
  background-image: linear-gradient(180deg, #fdfdfd, #ececec);
}

#services .section-right .content-img img {
  transform: translateX(-0.75rem);
  width: 70%;
  border-radius: 0 20px;
}

#services .section-bot {
  border: #e7e7e7 2px solid;
  border-radius: 20px;
  background-image: linear-gradient(180deg, #fdfdfd, #ececec);
}

#services .section-bot img {
  border-radius: 20px;
  width: 100%;
}


/* SERVICES END */

/* REVIEWS START */
#reviews .container-fluid {
  margin-bottom: 75px;
  height: 800px
}

#reviews .cards {
  border: #84C642 1px solid;
  border-radius: 20px;
}

.swiper {
  height: 600px;
}

#reviews .cards {
  max-width: 250px;
  height: auto !important;
}

/* REVIEWS END */

/* GETNOW START */

#getnow .container {
  border: #e7e7e7 2px solid;
  border-radius: 20px;
}

#getnow .mobile-img img {
  cursor: pointer;
  width: 50%;
}

/* GETNOW END */

/* FOOTER START */

#footer .footer-logo img {
  cursor: pointer;
  width: 30%;
}

#footer .subtext-grey:hover {
  cursor: pointer;
  color: #000;
}

#footer .footer-icon i {
  cursor: pointer;
  font-size: 1.3rem;
}

/* FOOTER END */








/* CLASSES */
.subtext-grey {
  color: #97999a;
}

.p-6 {
  padding: 6rem !important;
}

.p-7 {
  padding: 7rem !important;
}

.p-8 {
  padding: 8rem !important;
}

.p-9 {
  padding: 9rem !important;
}

.p-10 {
  padding: 10rem !important;
}

.ps-10 {
  padding: 10rem !important;
}

.pe-10 {
  padding: 10rem !important;
}

.mx-n1 {
  margin-left: -0.25rem !important;
  margin-right: -0.25rem !important;
}